{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- твои кастомные стили -->
</head>
<body>

    <!-- Навбар -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Мій бренд</a>
      </div>
    </nav>

    <!-- Контент -->
    <main class="container mt-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Футер -->
    <footer class="bg-dark text-white text-center py-3 mt-4">
        &copy; 2025 Мій сайт. Всі права захищено.
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
